#photoTaken {
    width: 87%;
}

.listview-item {
    margin: auto;
    /*width: 90%;*/
}

.item-controlgroup {
    display: inline;
    float: right;
    text-align: right;
}

.item-text {
    font-stretch: expanded;
    font-size: xx-large;
    display: inline;
}

.item-button {
    min-width: 60px;
    width: 15%;
}

#closeBillButton {
    float: right;
}